@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 100%;
    overflow-x: hidden;
 }
:root {
    --purple: #8e44ad;
    --red: #c0392b;
    --orange: #f39c12;
    --black:rgb(42, 41, 41);
    --white: #fff;
    --light-color: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --lagoon: #2093c3;
    --Turquoise: #219f9c;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.books-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('Images/bookstore.png');
    background-size: cover;
}
.login-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('Images/admin.jpg');
    background-size: cover;

}
.orders-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('Images/history.jpg') ;
    background-size: cover;

}


.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url('Images/library-book-bookshelf-read.jpg');
    background-size: cover;
}



.site-header a {
    color: #727272;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}



.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}
.user-box{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--black);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:2rem;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
 }
 .icons > *{
    font-size: 2.5rem;
    color:var(--white);
    cursor: pointer;
    margin-left: 1.5rem;
 }
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.2rem;
    border-radius: .5rem;
    text-transform: capitalize;
}


.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: var(--black);
}

.white-btn {
    background-color: var(--white);
}

.option-btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: var(--red);
}

section {
    padding: 2rem 2.8rem;
}

.bookProducts .containerBooks {
    max-width: 2000px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-items: flex-start;
    gap:1.0rem;
    justify-content: center;
}

.placed-orders .box-container{
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5rem;
 }
 
 .placed-orders .box-container .empty{
    flex:1;
 }
 
 .placed-orders .box-container .box{
    flex:1 1 40rem;
    border-radius: .5rem;
    padding:2rem;
    border:var(--border);
    background-color: var(--light-bg);
    padding:1rem 2rem;
 }
 
 .placed-orders .box-container .box p{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .placed-orders .box-container .box p span{
    color:var(--Orange);
 }
 
.bookProducts .btn {
    background-color: var(--Turquoise);
}

.bookProducts .containerBooks .box {
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border: var(--border);
    position: relative;
}

.bookProducts .containerBooks .box .image {
    height: 15rem;
}

.bookProducts .containerBooks .box .name {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--black);
}

.bookProducts .containerBooks .box .qty {
    width: 75%;
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    border: var(--border);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.bookProducts .containerBooks .box .price {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--lagoon);
}

.shopping-cart .box-container {
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}

.shopping-cart .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: relative;
    border: var(--border);
}

.shopping-cart .box-container .box .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 0.5rem;
    border: 2px solid red;
    color: var(--white);
    border-radius: .5rem;
}

.shopping-cart .box-container .box .fa-times:hover {
    background-color: var(--black);
}

.shopping-cart .box-container .box img {
    height: 15rem;
}

.shopping-cart .box-container .box .name {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--black);
}

.shopping-cart .box-container .box .price {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}


